body{
  background-color: black;
}

.App{ 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(243, 194, 46);
  padding: 4rem 0;
}

.select-box {
  background-color: black;
  border: 0;
  margin-top: 32px;
}

.movie-title{
  font-size: 38px; 
  color: #ebcd24;
  font-weight: 600; 
  padding: 10px 0px;
}

.crawl{
  color: rgba(245, 218, 86, 0.7);
  font-size: 20px; 
}

.select-box select {
  outline: none;
  color: #d6be65;
  background: transparent;
  padding: 7px 50px 7px 8px;
  background: rgba(0, 0, 0, 1);
  border: 1px solid #ebcd24;
  border-radius: 2px;
}

.MovieIntro{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0px;
}

.SortableTable{
  text-align: center;
}

table {
  border-collapse:separate;
  border-spacing: 0px 3px;  
  margin: 20px 0px;
  width: 100%;
  text-align: center;
}

th {  
  padding: 1rem;
}

th button, th button:hover{
  background: transparent;
  outline:none !important;
  border: 0px;
  color: #ebcd24;
}

td {
  color: #d6d6a6;
  padding: 1rem
}

thead tr, tfoot tr {
  background-color: rgb(32, 30, 5);
  padding-bottom: 5px
}

tbody tr{
  background: rgb(44, 37, 13, 0.3);
}

tr {
  border: 1px solid rgb(235, 205, 36);
  padding-bottom: 5px;  
}

th img[data-toggle=desc]{
  visibility: visible;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

th img[data-toggle=none]{
  visibility: hidden; 
}

th img{
  margin-left:5px;
  pointer-events: none
}

.scrolling-text {
  animation: scroll 6s linear 0s;
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 90%;
  text-align: center;

}

@keyframes scroll {
    0% {
        top: 50%;
    }
    100% {
        top: -20%;
    }
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: rgb(226, 223, 33);
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.error_msg{
  font-size: 20px;
  color: #ebcd24;
  margin-bottom: 20px;
  z-index: 3;
  position: relative;
  
}

.main-content{
  text-align: center 
}