body{background-color: black;}

.App{ 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(243, 194, 46);
  padding: 4rem 0;
}

.select-box {
  background-color: black;
  border: 0;
  margin-top: 32px;
}

.movie-title{
  font-size: 28px; 
  color: rgb(139, 139, 23);
  font-weight: 600; 
  padding: 10px 0px;
}

.crawl{
  color: rgb(139, 139, 23);
  font-size: 20px; 
}

.select-box select {
  outline: none;
  color: #d6be65;
  background: transparent;
  padding: 7px 50px 7px 8px;
  background: rgba(0, 0, 0, 1);
  border: 1px solid #ebcd24;
  border-radius: 2px;
}

.MovieIntro{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0px;
}

.SortableTable{
  text-align: center;
}

table {
  border-collapse:separate;
  border-spacing: 0px 3px;
  /* border: 1px solid #ebcd24; */
  margin: 20px 0px;
  width: 100%;
  text-align: center;
}

th {  
  padding: 1rem;
}

th button, th button:hover{
  background: transparent;
  outline:none !important;
  border: 0px;
  color: #ebcd24;
}

td {
  color: #d6d6a6;
  padding: 1rem
}

thead tr {
  background-color: rgb(32, 30, 5);
  padding-bottom: 5px
}

tbody tr{
  background: rgb(44, 37, 13, 0.3);
}
tr {
  border: 1px solid rgb(235, 205, 36);
  padding-bottom: 5px;  
}

th img[data-toggle=desc]{
  visibility: visible;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

th img[data-toggle=none]{
  visibility: hidden; 
}

th img{
  margin-left:5px;
  pointer-events: none
}

.marquee {
  height: 50px;
  text-align: left;
  /* overflow: hidden; */
  position: relative;
  color: #8f7d3a;
}

.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 15s linear infinite;
  -webkit-animation: scroll-left 15s linear infinite;
  animation: scroll-left 15s linear infinite;
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes scroll-left {
  0% {
    
    transform: translateY(100%);
  }
  100% {
    
    transform: translateY(-100%);
  }
}

.scrolling-text {
  animation: scroll 15s linear 0s;
  position: absolute;
  top: 50%;
  margin: 0px 20px; 
  text-align: center
}


@keyframes scroll {
    0% {
        top: 50%;
    }
    100% {
        top: -20%;
    }
}